In [2]:
import pandas as pd
import numpy as np
import math
from IPython.display import Image
from sklearn import linear_model

In [3]:
df=pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
med=df.bedrooms.median()   #getting median for the nan value
med

4.0

In [7]:
df.bedrooms=df.bedrooms.fillna(math.floor(med))   #filling the value
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
reg=linear_model.LinearRegression()

In [9]:
reg.fit(df[["area","bedrooms","age"]],df.price) # Training the model.Age,bedroms and area are independent variables and price is dependent.

LinearRegression()

In [11]:
reg.predict([[3000,3,40]])  #prediciting price for 3000 area, 3 bedrooms and 40age.

C:\Users\abcd\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [12]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [13]:
reg.intercept_

221323.00186540408

In [3]:
Image(url="formula.png", width=300, height=300)

In [14]:
(112.06244194*3000)+(23388.88007794*3)+(-3231.71790863*40)+221323.00186540408  #using the formula y=mx1+mx2+mx3+b

498408.2515740241

In [15]:
reg.predict([[2500,4,5]])

C:\Users\abcd\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([578876.03748933])

In [16]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [17]:
reg.intercept_

221323.00186540408

In [18]:
(112.06244194*2500)+(23388.88007794*4)+(-3231.71790863*5)+221323.00186540408  #using the formula y=mx1+mx2+mx3+b

578876.0374840142